.container {
    margin-top: 2rem;
    .table {
        height: 669px;
        overflow-y: auto;
    }
    th.sticky-header {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: rgb(221, 218, 209);
    }
    .search-box {
        margin-bottom: 32px;
        float: right;
    }
    .h-align {
        text-align: center;
    }
    .userId {
        width: 5rem;
        text-align: center;
    }
    .task {
        width: 30rem;
    }
    .no {
        width: 3rem;
        text-align: center;
    }
    .completed {
        width: 10rem;
    }
    td {
        height: 50px;
        vertical-align: center;
    }
}